@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
    background-color: #EC362D;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1{
    font-size: 37px;
    font-weight: bold;
    color: white;
}

main.home{
    max-width: 1050px;
    margin: 0 auto;
}

main.home > *, .empty{
    margin-bottom: 70px;
}

main.home h2{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    position: relative;
}

main.home .user-quizzes > *.hidden{
    display: none;
}

main.home .user-quizzes > div{
    width: 100%;
    min-height: 180px;
    font-size: 20px;
}

main.home .user-quizzes .empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    color: #b9b9b9;
}

main.home .user-quizzes .empty div{
    max-width: 250px;
    margin-bottom: 1.25em;
    text-align: center;
}

main.home .user-quizzes .empty button{
    width: 150px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: inherit;
    color: #EC362D;
    background-color: transparent;
    cursor: pointer;
}

main.home .user-quizzes .empty button:hover{
    color: white;
    background-color: #EC362D;
}


.main-containner-quiz .question:hover,
main.home .user-quizzes .empty button:hover,
main.home .quizzes-container li:hover,
main.home .user-quizzes .all-quizzes button:hover{
    z-index: 1;
    transform: scale(1.1);
    transition: .3s all ease-in-out;
}


.main-containner-quiz .question:not(:hover),
main.home .user-quizzes .empty button:not(:hover),
main.home .quizzes-container li:not(:hover),
main.home .user-quizzes .all-quizzes button:not(:hover){
    transform: scale(1.0);
    transition: .3s all ease-in-out;
}

main.home .user-quizzes .all-quizzes button{
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    margin-left: 12px;
    border: transparent;
    border-radius: 50%;
    background-color: #EC362D;
    cursor: pointer;
}

main.home .quizzes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

main.home .quizzes-container li{
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 100%;
    height: 180px;
    padding: 1em;
    border-radius: 5px;
    word-break: break-word;
    font-size: 19px;
    color: white;
    background-image: url(../imagens/teste.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

main.home .quizzes-container li::after{
    content: '';
    background-image: linear-gradient(transparent 50%, black);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

.page02{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -70px;

}
.banner-quiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-quiz img{
    position: relative;
    width: 100%;
    height: 227px;
    object-fit: cover
}
.banner-quiz span{

    position: absolute;
    font-size: 39px;
    color: white;
    z-index: 1;
    
}
.banner-quiz div{

    position: absolute;
    width: 100%;
    height: 227px;
    background-color: black;
    opacity: .6;
    
}

.containner-quiz{
    background-color: rgb(255, 255, 255);
    width: 759px;
    
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.question-options{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.question-options img{
    width: 329px;
    height: 175px;
}

.question{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    margin: 9px 12px;
}
.question span{
    word-break: break-word;
    margin-top: 8px;
    max-width: 329px;;
}
.question-quiz{
    width: 688px;
    height: 137px;
    background-color: #1070ff;
    margin-top: 28px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.quiz-false{
    color: #FF4B4B;
    pointer-events: none;   
}
.quiz-true{
    color: #009C22;  
    pointer-events: none;  
}
.quiz-opacity{
    opacity: 0.3;
}
.containner-result-quiz{ 
    background-color: #ffffff;
    width: 759px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 57px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.info-quiz{
    width: 727px;
    height: 99px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ec362d;
    font-size: 23px;
    font-weight: 700;
    color: white;
}
.result-quiz{
    display: flex;
    justify-content: left;
    margin-top: 18px;
    width: 727px;
}
.containner-result-quiz span{

    color: #484848;
    max-width: 328px;
    margin-left: 21px;
    text-align: left;
    top: 0;
    font-weight: 700;
    font-size: 19px;
    word-break: break-all;

}
.containner-result-quiz img{

    width: 364px;
    height: 273px;

}
.button-restart-quiz{
    margin-top: 57px;
    width: 260px;
    height: 52px;
    font-weight: 400;
    font-size: 21px;
    color: white;
    background-color: #ec362d;
    border: none;
    border-radius: 15px;
}
.button-home-quiz{
    margin-top: 16px;
    margin-bottom: 85px;
    width: 220px;
    height: 44px;
    font-weight: 400;
    font-size: 21px;
    color: #818181;
    background-color: #FAFAFA;
    border: none;

}

.hidden {
    display: none;
}


main.creation {
    background-color: #FAFAFA;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0px auto;
}
main.creation h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px auto 20px auto;
}
main.creation > div {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    padding: 20px 0px 10px 17px;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 25px auto;
    position: relative;
}
main.creation div h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 12px 0px;
}
main.creation div input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: solid 1px #d1d1d1;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 19px;
}
main.creation button {
    width: 370px;
    height: 54px;
    color: #fff5f4;
    background-color: #EC362D;
    border: transparent;
    border-radius: 15px;
    margin: 50px auto 50px auto;
}
main.creation div.create-questions input:nth-of-type(2n) {
    margin-bottom: 32px;
}
div.create-questions ion-icon {
    position: absolute;
    font-size: 26px;
    top: 25px;
    right: 20px;
    opacity: 0;
}
div.create-questions.collapsed {
    height: 74px;
}
div.create-questions.collapsed div:nth-of-type(2) {
    display: none;
}
div.create-questions.collapsed ion-icon {
    opacity: 1;
}






@media (max-width: 1100px){
    main.home{
        padding: 0 16px;
    }

    main.home .quizzes-container{
        grid-template-columns: 1fr;
    }

    main.home .user-quizzes .all-quizzes h2{
        justify-content: space-between  ;
    }
}